---
title: "Thank you for your order"
preheader: "Thank you for your order"
bodyClass: bg-accent-light
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-arial">
      <tr>
        <td align="center" class="bg-accent-light">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="px-5 py-12 sm:p-6">
                <table class="w-full">
                  <tr>
                    <td>
                      <div class="leading-[80px] sm:leading-16" role="separator">&zwnj;</div>

                      <table class="w-full">
                        <tr>
                          <td class="px-16 sm:p-0">
                            <h1 class="m-0 text-5xl sm:text-[40px] leading-14 sm:leading-11 text-center text-primary">
                              See you soon
                            </h1>
                          </td>
                        </tr>
                      </table>

                      <div class="text-center">
                        <h2 class="mb-2 mt-10 text-4xl">@{{title}}</h2>
                        <h2 class="text-center text-5xl mb-0 mt-0">@{{quantity}}</h2>
                        <h3 class="mt-2">Tickets</h3>
                      </div>

                      <div class="leading-6 sm:leading-4" role="separator">&zwnj;</div>

                      <div role="separator">
                        <div class="leading-12 sm:leading-10">&zwnj;</div>
                        <div class="h-px leading-px bg-gray-divider">&zwnj;</div>
                        <div class="leading-6 sm:leading-4">&zwnj;</div>
                      </div>

                      

                      <div class="leading-12 sm:leading-10" role="separator">&zwnj;</div>


                      <h2 class="m-0 font-normal text-[28px] sm:text-xl leading-9 sm:leading-7 text-gray-dark">
                        Event information
                      </h2>

                      <div class="leading-6" role="separator">&zwnj;</div>

                      <table class="w-full">
                        <tr>
                          <th class="w-1/2 sm:w-full sm:block sm:pb-8 font-normal text-left align-top">
                            <h4 class="m-0 mb-2 text-base leading-6 text-gray-dark">
                              Address
                            </h4>

                            <p class="m-0 text-base leading-6 text-gray-dark">
                              @{{address_street}} @{{address_unit}}
                              <br>@{{address_city}}, @{{address_state}} @{{address_postal_code}}
                              <br>United States
                            </p>
                          </th>
                          <th class="w-1/2 sm:w-full sm:block font-normal text-left align-top">
                            <h4 class="m-0 mb-2 text-base leading-6 text-gray-dark">
                              Time
                            </h4>
                            <p class="m-0 text-base leading-6 text-gray-dark">
                              @{{startDate}}
                              <br>to
                              @{{endDate}}
                            </p>
                          </th>
                        </tr>
                      </table>

                      <div role="separator">
                        <div class="leading-16 sm:leading-10">&zwnj;</div>
                        <div class="h-px leading-px bg-gray-divider">&zwnj;</div>
                        <div class="leading-12 sm:leading-10">&zwnj;</div>
                      </div>

                      <table class="w-full">
                        <tr>
                          <td class="py-8 px-6 rounded bg-white">
                            <h3 class="m-0 text-base leading-6 font-normal text-gray-dark">
                              Receipt
                            </h3>
                            {@{{receipt_url}}}

                            <div class="leading-6" role="separator">&zwnj;</div>

                            <table class="w-full text-gray-dark">
                              <tr>
                                <td class="w-1/2 text-base leading-6 text-gray-footer align-top">
                                  @{{quantity}} tickets
                                </td>
                                <td class="w-1/2 text-base leading-6 font-bold text-right align-top">
                                  @{{ticket_price}}
                                </td>
                              </tr>                              
                              <tr role="separator">
                                <td class="py-4" colspan="2">
                                  <div class="h-px leading-px bg-gray-dark">&zwnj;</div>
                                </td>
                              </tr>
                              <tr>
                                <td class="w-1/2 text-base leading-6 font-bold align-top">
                                  Total
                                </td>
                                <td class="w-1/2 text-base leading-6 font-bold text-right align-top">
                                  @{{total_price}}
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>

                      <div class="mt-20">
                        <a href="#" class="px-4 py-2 bg-red-400 text-white hover:bg-red-500">
                          Cancel reservation
                        </a>
                      </div>

                      <div class="leading-16" role="separator">&zwnj;</div>
                      
                      <component src="src/components/footer.html"></component>
                      <p class="m-0 text-base leading-6 text-center text-gray-footer">
                        Event @{{event_id}}
                      </p>

                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
