---
title: "Happy Hours Promo"
preheader: "Happy Hours Promo"
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-arial">
      <tr>
        <td align="center" class="bg-accent-light">
          <div class="leading-12 sm:leading-6" role="separator">&zwnj;</div>

          <table class="w-150 sm:w-full">
            <tr>
              <td class="px-5">
                <table class="w-full">
                  <tr>
                    <td>
                      <div class="text-center">
                        <a href="https://example.com">
                          <img src="logo.png" width="200" alt="Logo">
                        </a>
                      </div>

                      <div class="leading-[120px] sm:leading-16" role="separator">&zwnj;</div>

                      <div class="text-center">
                        <p class="m-0 text-base leading-6 uppercase text-accent-dark">
                          Promotion
                        </p>

                        <h1 class="m-0 text-6xl sm:text-5xl leading-20 sm:leading-[52px] uppercase text-accent-dark">
                          Happy Hour
                        </h1>
                      </div>

                      <div class="leading-20 sm:leading-10" role="separator">&zwnj;</div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table class="w-full max-h-0 sm:max-h-full sm:h-full">
      <tr>
        <td>
          <table class="w-full h-full">
            <tr>
              <td class="h-[200px] sm:h-1/2 px-2 bg-accent-light">
                <div class="h-[200px] sm:h-full">&nbsp;</div>
              </td>
            </tr>
            <tr>
              <td class="h-[200px] sm:h-1/2 px-2 bg-accent-dark">
                <div class="h-[200px] sm:h-full">&nbsp;</div>
              </td>
            </tr>
          </table>
        </td>
        <td class="w-[560px] align-top bg-accent-dark">
          <img src="happy-hour.jpg" width="560" alt="Woman using mobile phone">
        </td>
        <td>
          <table class="w-full h-full">
            <tr>
              <td class="h-[200px] sm:h-1/2 px-2 bg-accent-light">
                <div class="h-[200px] sm:h-full">&nbsp;</div>
              </td>
            </tr>
            <tr>
              <td class="h-[200px] sm:h-1/2 px-2 bg-accent-dark">
                <div class="h-[200px] sm:h-full">&nbsp;</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table class="w-full font-arial">
      <tr>
        <td align="center" class="sm:px-5 bg-accent-dark">
          <div class="leading-12 sm:h-8" role="separator">&zwnj;</div>

          <table class="w-150 sm:w-full">
            <tr>
              <td class="px-5 sm:px-0">
                <table class="w-full">
                  <tr>
                    <td>
                      <table class="w-full">
                        <tr>
                          <th class="w-1/2 sm:w-full sm:block sm:pb-6 text-left align-top">
                            <p class="m-0 text-8xl sm:text-7xl leading-[88px] sm:leading-20 text-white">
                              50%
                            </p>

                            <p class="m-0 text-5xl sm:text-[40px] leading-14 sm:leading-11 text-white">
                              OFF
                            </p>
                          </th>
                          <th class="w-1/2 sm:w-full sm:block text-left align-top">
                            <h2 class="m-0 text-[40px] sm:text-3xl leading-11 sm:leading-9 text-white">
                              Frappuccino Blended Beverage grande
                            </h2>

                            <div class="leading-8 sm:h-6" role="separator">&zwnj;</div>

                            <p class="m-0 text-base leading-6 text-white">
                              Thursday, May 3, starting at 3 PM
                            </p>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr role="separator">
                    <td class="leading-12 sm:leading-8">&zwnj;</td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <p class="m-0 text-base leading-6 text-accent-text">
                        * Valid 5/3 only after 3 p.m. at participating stores in the U.S.
                        Cannot be combined with any other offer or discount. Code valid for one-time use.
                      </p>
                    </td>
                  </tr>
                  <tr role="separator">
                    <td>
                      <div class="leading-16 sm:leading-[60px]">&zwnj;</div>
                      <div class="h-px leading-px bg-accent-divider">&nbsp;</div>
                      <div class="leading-16 sm:leading-8">&zwnj;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table class="w-full">
                        <tr>
                          <td class="w-[264px] align-top">
                            <a href="https://example.com">
                              <img src="product-1.jpg" width="264" alt="Tablet in hands">
                            </a>

                            <div class="leading-6 sm:leading-4" role="separator">&zwnj;</div>

                            <h3 class="m-0 text-base leading-6 font-normal text-white">
                              New Ultra Caramel Frappuccino Blended Beverage Available
                            </h3>
                          </td>
                          <td class="w-8">&nbsp;</td>
                          <td class="w-[264px] align-top">
                            <table class="w-full">
                              <tr>
                                <td>
                                  <a href="https://example.com">
                                    <img src="product-2.jpg" width="264" alt="Phone on table">
                                  </a>

                                  <div class="leading-6 sm:leading-4" role="separator">&zwnj;</div>

                                  <h3 class="m-0 text-base leading-6 font-normal text-white">
                                    Get more discounts with the App Card Rewards
                                  </h3>
                                </td>
                              </tr>
                              <tr role="separator">
                                <td class="leading-12 sm:leading-6">&zwnj;</td>
                              </tr>
                              <tr>
                                <td>
                                  <a href="https://example.com">
                                    <img src="product-3.jpg" width="264" alt="Customer choosing product on tablet interface">
                                  </a>

                                  <div class="leading-6 sm:leading-4" role="separator">&zwnj;</div>

                                  <h3 class="m-0 text-base leading-6 font-normal text-white">
                                    Try the new Ultra Caramel Frappuccino Blended Beverage
                                  </h3>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr role="separator">
                    <td class="leading-16">&zwnj;</td>
                  </tr>
                  <tr>
                    <td>
                      <component src="src/components/footer-accent.html"></component>
                    </td>
                  </tr>
                  <tr role="separator">
                    <td class="leading-12 sm:leading-6">&zwnj;</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
