---
title: "Our updated Privacy Statement"
preheader: "Our updated Privacy Statement"
bodyClass: bg-accent-light
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-arial">
      <tr>
        <td align="center" class="bg-accent-light">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="px-5 py-12 sm:p-6">
                <table class="w-full">
                  <tr>
                    <td>
                      <div>
                        <a href="https://example.com">
                          <img src="logo.png" width="200" alt="Logo">
                        </a>
                      </div>

                      <div class="leading-[120px] sm:leading-16" role="separator">&zwnj;</div>

                      <h1 class="m-0 text-[40px] sm:text-3xl leading-11 sm:leading-9 text-gray-dark">
                        At Craftingemails we are committed to protecting your personal information
                      </h1>

                      <div class="leading-12 sm:leading-8" role="separator">&zwnj;</div>

                      <p class="m-0 text-base leading-6 text-gray-dark">
                        Your privacy is really important to us.
                        We're committed to being transparent about how we treat your data,
                        so we've re-written our privacy policy using a simpler format and a clearer language.
                        Our New Privacy Statement will take effect on July 15th, 2020, so we encourage you to find time to review it.
                        Using the Craftingemails app on or after that date will tell us you have read and agreed to the terms of the Privacy Statement.
                        You can learn more about the update Statement in our blog post.
                      </p>

                      <div class="leading-8 sm:leading-6" role="separator">&zwnj;</div>

                      <p class="m-0 text-base leading-6 text-gray-dark">
                        Sincerely,
                        <br>
                        The Craftingemails Team
                      </p>

                      <div class="leading-16" role="separator">&zwnj;</div>

                      <component src="src/components/footer.html"></component>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
