<div class="h-px leading-px bg-gray-divider" role="separator">&zwnj;</div>

<div class="leading-8 sm:leading-4" role="separator">&zwnj;</div>

<p class="m-0 text-sm leading-5 text-accent-footer">
  If you did not sign up for this account you can ignore this email and the account will be deleted.
</p>

<div class="leading-8 sm:leading-4" role="separator">&zwnj;</div>

<p class="m-0 text-sm leading-5 text-accent-footer">
  &copy; {{ page.year }} Craftingemails. All rights reserved.
  You received this email because you signed up for an app that helps you create your emails.
  To update your emails subscription preferences <a href="https://example.com" class="text-accent-footer-light [text-decoration:underline] hover:[text-decoration:none]">click here</a>.
</p>

<div class="leading-12 sm:leading-8" role="separator">&zwnj;</div>

<p class="m-0 text-sm leading-5 text-center">
  <a href="https://example.com" class="text-accent-footer-light [text-decoration:underline] hover:[text-decoration:none]">View this email in the browser</a>
</p>
